	/*
  
   Wildcat Computer Science
   Author: Hoang Cao
   Date:   07/02/2017

   Filename:         summary.css

*/
body
{
background-color:  #aed6f1;
}

img
{
margin: 0px;
padding: 0px;
height: 500px;
width: 1500px;
}

#content1,#content2
{
top: 100px; 
bottom: 100px;
right: -80px;
width: 1000px;
padding: 0px 20px 0px 20px;
border: 5px solid #d6d6c2;
background:#d1f2eb;
font-size: 25px;
}

#skill
{
color: #16a085 ;
}


#container
{
background-color: #aed6f1;
}











	
		
		