/*
  
   Wildcat Computer Science Style Sheet for printer
   Author: Hoang Cao
   Date:   07/022017

   Filename:         print.css
   Supporting Files: none

*/

.logo, #logo, #footer {display:none;}






