	/*
  
   Wildcat Computer Science
   Author: Hoang Cao	
   Date:   7/02/2017

   Filename:         wcs.css

*/
body
{

}

.navbar-brand
{
font-family: 'Lobster', cursive;
}

#link
{
font-size:2em;
text-align:center;
font-family: 'Indie Flower', cursive;	
margin: 25px 2px 25px 25px; 
margin-top: 500px;
}

		
		
a:active 
{
color: #e74c3c ;
}

a:hover 
{
background:  #a3e4d7;
}

#footer
{
width: 500px;
margin-top:500px;
padding: 0px 28px 0px 20px;
background:#e6e6e6;
}









	
		
		